#my_account_header
{
	margin-top: 10px;
}

#my_account_hint
{
	float: left;
	font-size: 26px;
	color: #E47911;
	margin-left: 20px;
}

#my_account_content
{
	margin-left: 50px;
	margin-top: 20px;
	font-size: 16px;
}

#my_account_action
{
	float: right;
	margin-right: 15px;
	font-size: 15px;
	list-style: none;
}

#my_account_action li
{
	display: inline;
}

#my_account_action li
{
	border-right: 1px solid #000;
	padding-right: 8px;
}

#my_account_action li.last
{
	border-right: none;
	padding-right: 0;
}

#my_account_action li a:hover
{
	text-decoration: none;
}

#my_account_content > div
{
	margin-bottom: 10px;
}

.error_hint
{
	color: #FF0000;
}

#my_account_content input
{
	margin: 0;
}

#my_account_content > div
{
	height: 30px;
}

#my_account_content span
{
	line-height: 30px;
}

#my_account_content input
{
	font-size: 16px;
}

#delivery_address_input
{
	display: inline-block;
}

#submit_account_modification
{
	margin-top: 10px;
}