/* less variable */
@product_section_title_height: 28px;

#category_nav
{
	padding: 3px 3px 3px 0;
	background: #FCF4EA;
	border-left: solid #D00000;
	border-right: solid #D00000;
	border-bottom: solid #D00000;
}

#category_nav .category_item
{
	text-align: center;
}

.category_item
{
	padding: 5px 0;
}

.product_section{
	margin: 10px 0 0 0;
}

.product_section_title{
	height: @product_section_title_height;
	margin: 0;
	background: url("../images/sprite/css_sprite_4.jpg") #E6E6E6 repeat-x 0 -208px;
}

.product_section_title h2{
	float: left;
	width: 121px;
	padding: 0 8px 0 8px;
	background: url("../images/sprite/css_sprite_4.jpg") no-repeat -70px -237px;
	line-height: @product_section_title_height;
	color: #FFFFFF;
	font-size: 16px;
}

.product_section_title .product_section_title_end{
	float: right;
	width: 59px;
	height: @product_section_title_height;
	padding: 0 10px 0 0;
	background: url("../images/sprite/css_sprite_4.jpg") no-repeat 0 -237px;
	line-height: @product_section_title_height;
}