/* less variable */
@img_width: 350px;
@img_height: 350px;

article
{
	margin-top: 10px;	
}

#image_section
{
	float: left;
}

#image_preview_box
{
	width: @img_width;
	height: @img_height;
	border: 4px solid #E4E4E4;
}

#product_thumbs li
{
	display: inline;
	margin: 0 10px 0 0;
}

#product_thumbs li img
{
	border: 1px solid #E4E4E4;
}

#product_thumbs ul
{
	margin: 5px 0 0 0;
}

#product_brief_section,#product_action_section
{
	margin-left: 380px;
}

#product_thumbs a
{
	text-decoration: none;
}

#product_brief_section ul
{
	margin: 0 0;
}

#product_brief_section li
{
	margin-bottom: 20px;
}

#product_price span
{
	color: #f00;
}

.star
{
	margin: 2px 2px 0 5px;
	overflow: hidden;
	width: 64px;
	height: 12px;
	background-image: url("../images/sprite/css_sprite_3.png");
	background-repeat: no-repeat;
}

.star0{background-position:-65px 0;}
.star1{background-position:-52px 0;}
.star2{background-position:-39px 0;}
.star3{background-position:-26px 0;}
.star4{background-position:-13px 0;}
.star5{background-position:0 0;}

#product_action_section
{
	margin-top: 30px;
}

#add_cart,#quick_buy
{
	font-weight: bold;
}

#product_detail_section
{
	margin-top: 50px;
}