/* less variable */
@img_width: 350px;
@img_height: 350px;

article
{
	margin-top: 10px;	
}

#image_section
{
	float: left;
}

#image_preview_box
{
	width: @img_width;
	height: @img_height;
	border: 4px solid #E4E4E4;
}

#product_thumbs li
{
	display: inline;
	margin: 0 10px 0 0;
}

#product_thumbs li img
{
	border: 1px solid #E4E4E4;
}

#product_thumbs ul
{
	margin: 5px 0 0 0;
}

#product_brief_section
{
	margin-left: 400px;
}