.container
{
	width: 1170px;
}

#main_area_container
{
	margin-top: 50px;
}

#admin_nav
{
	padding: 8px 0;
}

#main_area_container:first-child
{
	margin-left: 0;
}

.pager .previous a
{
	float: none;
}

.pager .next a
{
	float: none;
}

thead input, thead select
{
	margin-bottom: 0;
}

.grid-view thead .filters td
{
	padding: 2px 0;
	text-align: center;
}

.grid-view thead .filters input, .grid-view thead .filters select
{
	width: 99%;
	padding: 4px 0;
}