.container
{
	width: 1170px;
}

#main_area_container
{
	margin-top: 50px;
}

#admin_nav
{
	padding: 8px 0;
	border: 1px solid rgba(0, 0, 0, 0.05);
	background-color: #F7F7F9;
	opacity: 0.7;
}

#main_area_container:first-child
{
	margin-left: 0;
}

.pager .previous a
{
	float: none;
}

.pager .next a
{
	float: none;
}

thead input, thead select
{
	margin-bottom: 0;
}

.grid-view thead .filters td
{
	padding: 2px 0;
	text-align: center;
}

.grid-view thead .filters input, .grid-view thead .filters select
{
	width: 99%;
	padding: 4px 0;
}

.clearfix
{
	display: block;
	clear: both;
}

.error_hint
{
	color: #FF0000;
}
