#order_grid_view
{
	padding: 0 0;
}

thead input, thead select
{
	margin-bottom: 0;
}

.grid-view thead .filters td
{
	padding: 2px 0;
	text-align: center;
}

.grid-view thead .filters input, .grid-view thead .filters select
{
	width: 99%;
	padding: 4px 0;
}

#id_title
{
	width: 80px;
}

#count_title
{
	width: 50px;	
}

#unitPrice_title
{
	width: 70px;
}

#time_title
{
	width: 120px;
}

#status_title
{
	width: 70px;
}